Name : Vinayak Renu Nair ;
     GSU ID : 002553736

1) Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [ ]:
def fact(num):
  if num == 1 :
    return 1
  s = num * fact(num - 1)
  return s

print(fact(10))

3628800

2) Write a function that determines if a number is a prime number

In [ ]:
def ispr(num) :
  if num == 1 :
    return False
  if num == 2 :
    return True

  for i in range(2,num):
    if (num%i) == 0 :
      return False
 
  return True

print(ispr(3))
print(ispr(1251))

True
False

3) Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [ ]:
def transpose(matrix) :
  print("matrix :")

  for r in matrix :
    print(r)

  tr = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
  print("\n")
  print("Transpose :")
  for r in tr :
    print(r)

matrix = [[1,2],[3,4],[5,6]]

transpose(matrix)

matrix :
[1, 2]
[3, 4]
[5, 6]


Transpose :
[1, 3, 5]
[2, 4, 6]

4) Using Pandas and Numpy, write a piece of code to combine two series into one. Test
your code with:
np.random.seed(0)
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [30]:
import pandas as pd
import numpy as np

np.random.seed(0)
series1 = np.arange(10)
series2 = np.arange(26)

length = len(series1) + len(series2)
newseries = pd.Series(dtype='int',index = range(length))

for i in range(0,length) :
  if i< len(series1) :
    newseries[i] = series1[i]
  else :
    newseries[i] = series2[i - len(series1)]
  

print(newseries)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10     0
11     1
12     2
13     3
14     4
15     5
16     6
17     7
18     8
19     9
20    10
21    11
22    12
23    13
24    14
25    15
26    16
27    17
28    18
29    19
30    20
31    21
32    22
33    23
34    24
35    25
dtype: int64

5) Using pandas, write a piece of code to convert the first character of each element in a
series to uppercase. Test your code with:
series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [ ]:
import numpy as np
import pandas as pd

series = pd.Series(['nlp','will','be','easy?'])

nseries = series.map(lambda x: x[0].upper() + x[1:])

print(nseries)

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

Bonus :

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
l =[]

for i in df.columns:
  l.extend(df[i])

print(l)

[8, 9, 6, 8, 9, 7, 9, 7, 6, 9, 6, 9, 6, 6, 8, 7, 6, 5, 9, 9]

In [ ]:
frequency = {}

for no in l :
  if (no in frequency): frequency[no] +=1
  else : frequency[no] = 1

print(frequency)

{8: 3, 9: 7, 6: 6, 7: 3, 5: 1}